# Rules in this file were initially inferred by Visual Studio IntelliCode from the F:\_МДК 02.02 Инструментальные средства разработки ПО\Учебная практика\UP02_bottle_project\ codebase based on best match to current usage at 31.05.2023
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

