

.mermaid{
    display: inline-block
}

img{
    border-radius: 12px;
}

textarea{
    min-height: 100px;
}

.logo{
    width: 34px;
    height: 34px;
}

ol{
    width: max-content;
    text-align: left;
}