

.mermaid{
    display: inline-block
}

img{
    border-radius: 12px;
}

textarea{
    min-height: 100px;
}

.logo{
    width: 34px;
    height: 34px;
}
<<<<<<< HEAD

ol{
    width: max-content;
    text-align: left;
=======
/*Для того что печатать только решение*/
@media print {
    #solution {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
>>>>>>> 4bd6e06b04defb3839c4810401c3367cf5e45be9
}